<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('../views/partials/head.ejs') %>
  <body>
    <!-- Header -->

    <!-- /Header -->
    <section>
    <%- include('../views/partials/header.ejs') %>
  </section>
    <!-- product detail -->
    <div class="container products-wrapper">
      <div class="d-flex align-items-center">
        <h2 class="products-title"><%= info.nombreProducto %></h2>
        <p class="product-detail-description">
          <a href="product-add.html">Editar</a>
        </p>
      </div>
      <div class="product-detail">
        <div class="row">
          <article class="col-12 col-lg-8 product-detail-info">
            <img
              src="./images/products/default-image.png"
              alt=""
              class="product-detail-img"
            />
            <p class="product-detail-description"><%= info.descripcion %></p>
          </article>
          <div class="col-12 col-lg-4">
            <section class="comments">
              <% if (info.comentariosProd2 && info.comentariosProd2.length > 0) { %>
                  <% info.comentariosProd2.forEach(function(comentario) { %>
                      <article>
                          <img src="https://via.placeholder.com/35" alt="" />
                          <div class="data">
                              <p class="user">
                                  <strong><a href="profile.html"><%= comentario.user %>:</a></strong>
                                  <%= comentario.texto %>
                              </p>
                          </div>
                      </article>
                  <% }); %>
              <% } else { %>
                  <p>No hay comentarios para este producto.</p>
              <% } %>
          </section>
            <form class="form" action="" method="POST">
              <input
                class="form-input"
                type="text"
                value=""
                placeholder="Agregar comentario"
              />
              <button type="submit" class="buy-now-button">
                AGREGAR COMENTARIO
              </button>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>